<h1> Admin Panel </h1>

<div style="display: inline-block; margin-top: 20px;">
    <button style="background-color: #dedc3a; border-radius: 10px;">
        <a style="text-decoration: none; color: black" asp-controller="User" asp-action="Index">&nbsp Users &nbsp</a>
    </button>
</div>
<div style="display: inline-block; margin-top: 20px; margin-left: 10px;">
    <button style="background-color: #dedc3a; border-radius: 10px;">
        <a style="text-decoration: none; color: black" asp-controller="Post" asp-action="Index">&nbsp Posts &nbsp</a>
    </button>
</div>
<div style="display: inline-block; margin-top: 20px; margin-left: 10px;">
    <button style="background-color: #dedc3a; border-radius: 10px;">
        <a style="text-decoration: none; color: black" asp-controller="Comment" asp-action="Index">&nbsp Comments &nbsp</a>
    </button>
</div>
