<form asp-action="ChangePassword">
    <div style="margin-top: 40px;">
        <center>
            <ul style="list-style-type: none;">
                <h1>Change Password</h1>
                <li style="margin-top: 15px;"><input style="background-color: #d6fb87; border-radius: 10px;" type="password" name="oldPassword" placeholder="Old Password"></li>
                <li style="margin-top: 15px;"><input style="background-color: #d6fb87; border-radius: 10px;" type="password" name="newPassword" placeholder="New Password"></li>
                <li style="margin-top: 15px;"><input style="background-color: #d6fb87; border-radius: 10px;" type="password" name="confirmPassword" placeholder="Confirm New Password"></li>
                <li style="margin-top: 15px;"><input style="background-color: #d6fb87; border-radius: 10px;" type="submit" value="Set new password"></li>
            </ul>
        </center>
    </div>
</form>