<center>
    <div>
        <h1>Password Successfully Changed!</h1>
        <h3>You can now login with your new password</h3>
    </div>
    <button style="font-size: 30px; color: white; border-radius: 25px; background-color: #5aea6e" onclick="window.location.href='/Auth/SignIn'" class="loginbutton">&nbsp&nbsp&nbsp Login &nbsp&nbsp&nbsp</button>
</center>