<form asp-action="SignIn">
<div style="margin-top: 40px;">
    <center>
        <ul style="list-style-type: none;">
            <h1>LOGIN</h1>
            <li style="margin-top: 15px;"><input style="background-color: #d6fb87; border-radius: 10px;" type="text" name="email" placeholder="email"></li>
            <li style="margin-top: 15px;"><input style="background-color: #d6fb87; border-radius: 10px;" type="password" name="password" placeholder="Password"></li>
            <li style="margin-top: 15px;"><input style="background-color: #d6fb87; border-radius: 10px;" type="submit" value="Login"></li>
            </ul>
        </center>
    </div>
</form>