@{
    ViewData["Title"] = "Home Page";
}
<center>
<h1>Welcome!</h1>
    <h2>You are logged as</h2>
    <div style="display: inline-block; margin-top: 20px; margin-right: 10px;">
        <button style="background-color: #dedc3a; border-radius: 10px;" onclick="window.location.href='/User/Index'">&nbsp Your profile &nbsp</button>
    </div>
    <div style="display: inline-block; margin-top: 20px; margin-left: 10px;">
        <button style="background-color: #de881c; border-radius: 10px;" onclick="window.location.href='/Auth/Logout'">&nbsp Log out &nbsp</button>
    </div>
</center>